h5{
	margin-top:0px;
	margin-bottom:0px;
}
ul{
	margin-bottom: 0px;
}
p a, ul a{
	color:#00f;
}
p a:visited, ul a:visited{
	color:#66b;
}
ul a:hover, p a:hover{
	color:#80f;
}
h1{
	margin-top: 64px;
}
h4{
  margin:0;
  margin-top: 5px;
}

button.accordion {
  background-color:rgba(100,100,100,.25);
  cursor:pointer;
  padding: 4px 8px 8px 8px;
  width: 100%;
  border:none;
  outline:none;
  text-align: left;
  margin:10px 0px 0px 0px;
  transition: max-width 0.4s ease-out;
  overflow: hidden;
  max-width:700px;
}
div.panel{
  padding: 0px 18px;
  /*background-color: rgba(200,200,200,.3);*/
  background-color:rgba(100,100,100,.25);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, max-width 0.4s ease-out;
  margin:0;
  max-width: 700px;
}