<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="Description" content="{{site.description}} | {{page.description}}">
{% include link_preview_metas.html %}
<link rel="icon" 
      type="image/png" 
      href="/img/icon.png">
<title>{{page.title}} | {{site.title}}</title>
<link rel="canonical" href="https://gerry-chen.com{{page.url | replace: 'index.html', ''}}">
<link rel="stylesheet" href="/css/common.css">
{% for stylesheet in page.stylesheets %}
<link rel="stylesheet" href="{{stylesheet}}">
{% endfor %}

{% include googleAnalytics.html %}

</head>
<body>
<a id="skip-nav" class="skip-nav-link" href="#main-content">
  Skip to content
</a>

<header class="header">
  <div class="wrapper">
    <div class="about">
      <h1 id="websiteTitle"><a href="/">Gerry's World</a></h1>
      <p id="aboutLine">A glimpse into my life</p>
    </div>
  </div>

  {% include navBar.html %}

</header>

<div style="hidden:true;margin:0;padding:0;height:0;" id="main-content"></div>
<!-- ********** CONTENT *********** -->
    {{ content }}
<!-- ********** CONTENT *********** -->
<div class="wrapper">
{% include comments.html %}
</div>

{% include footer.html %}

</body>
</html>