<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="Description" content="{{site.description}} | {{page.description}}">
<link rel="icon" 
      type="image/png" 
      href="/img/icon.png">
<title>{{page.title}} | Publications | {{site.title}}</title>
<link rel="canonical" href="https://gerry-chen.com{{page.url}}">
<link rel="stylesheet" href="/css/common.css">
{% for stylesheet in page.stylesheets %}
<link rel="stylesheet" href="{{stylesheet}}">
{% endfor %}

{% include googleAnalytics.html %}

{% for js in page.js %}
<script src="{{js}}"></script>
{% endfor %}

</head>
<body>
<a id="skip-nav" class="skip-nav-link" href="#main-content">
  Skip to content
</a>

<header class="header">
  <div class="wrapper">
    <div class="about">
      <h1 id="websiteTitle"><a href="/">Gerry's World</a></h1>
      <p id="aboutLine">A glimpse into my life</p>
    </div>
  </div>

  {% include navBar.html %}

</header>

{% if page.PDF contains '://' %}
  {% assign pdf_url = page.PDF %}
{% else %}
  {% assign pdf_url = "../" | append: page.PDF %}
{% endif %}

<!-- ********** CONTENT *********** -->
<div class="publicationEntry" id="main-content">
  <h1>{{page.title}}</h1>
  <h2 class="author">{{page.author}}</h2>
  <h3 class="journal">{{page.journal}} {{page.year}}</h3>
  <div class="content" style="margin: auto;">
    {{ content }}
    {% unless page.manual_content %}
    <hr />
    <br />
      <p style="text-align: center">Links:
        {% assign mylinks = "false" %}
        {% if page.PDF %} [<a class="link-style" href="{{pdf_url}}">PDF</a>] {% assign mylinks = "true" %} {% endif %}
        {% if page.Poster %} [<a class="link-style" href="../{{page.Poster}}">Poster</a>] {% assign mylinks = "true" %} {% endif %}
        {% if page.pptx %} [<a class="link-style" href="{{page.pptx}}">pptx</a>] {% assign mylinks = "true" %} {% endif %}
        {% if page.Code %} [<a class="link-style" href="{{page.Code}}">Code</a>] {% assign mylinks = "true" %} {% endif %}
        {% if page.Video %} [<a class="link-style" href="{{page.Video}}">Video</a>] {% assign mylinks = "true" %} {% endif %}
        {% if page.DOI %} [<a class="link-style" href="{{page.DOI}}">DOI</a>] {% assign mylinks = "true" %} {% endif %}
        {% if page.arxiv %} [<a class="link-style" href="{{page.arxiv}}">arXiv</a>] {% assign mylinks = "true" %} {% endif %}
        {% if page.zip %} [<a class="link-style" href="{{page.zip}}">zip</a>] {% assign mylinks = "true" %} {% endif %}
        {% for link in page.links %}
          [<a class="link-style" href="{{link[1]}}">{{link[0]}}</a>] {% assign mylinks = "true" %}
        {% endfor %}
        {% if mylinks == "false" %}
          <p>Contact me for further information.</p>
        {% endif %}
        <br />
        <!-- TODO: figure out how to handle relative vs absolute vs url links -->
        Please note: some of these links may be broken.
        <!-- If, for example, the link is supposed to point to:<br />
        <code>{{site.url}}/absolute_url</code><br />
        It may instead point to:<br />
        <code>{{site.url}}/../absolute_url</code><br />
        or vice-versa.<br /> -->
        The links on the main <a href="/publications/">publications page</a> should always work, though.
      </p>
      {% if page.PDF %}
        <object data="{{pdf_url}}" type="application/pdf" width="100%" style="aspect-ratio: 8.5/11;">
          <p>In-browser pdf preview failed.  <a href="{{pdf_url}}">Download PDF</a>.</p>
        </object>
      {% endif %}
    {% endunless %}
  </div>
  {% include comments.html %}
</div>
<!-- ********** CONTENT *********** -->

{% include footer.html %}

 <script id="dsq-count-scr" src="//gerrysworld.disqus.com/count.js" async></script>
</body>
</html>
